td:hover{
    cursor:pointer;
    border-color:white;
}
td{
    background-color:#333;
    border-radius: 4px;
    padding-left:5%;
    padding-right:5%;
    color:white;
    padding-top:35px;
    padding-bottom:35px;
    border:2px solid #333;
}
.posts{
    margin-top:30px;
}
#error1{
    text-align:center;
}
table{
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}
p{
    color:white;
}
input[type=text] {
    background-color: #333;
    color: white;
    font-style: italic;
}
body{
    font-family: "Verdana";
    margin:0;
    background-color:#121212;
}
input {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px #121212;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
#form1{
    margin-top:50px;
    text-align:center;
    border-color:black;
}
ul {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
.navbar li:nth-child(3){
    float: right;
}
.navbar li:last-child{
    float: right;
}
.navbar li:first-child{
    margin-left: 20px;
}
.navbar li:nth-child(2){
    margin-left: 32%;
    /* NOT GOOD */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}
li a:hover:not(.active) {
    border-bottom: 3px solid black;
}
.active {
    background-color: #4CAF50;
}
#error{
    text-align: center;
    color: white;
}

#search{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 200%;
    border: 1px solid #111;
}
#search_form{
    height: auto;
}
h1{
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.message{
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid white;
    background-color: #333;
    color: white;
    border-radius: 5px;
    /* background-color: #4CAF50; */
}
#subject_line{
    margin: 0px;
    padding: 15px;
    background-color: rgb(34, 34, 34);
}

#subject_line p{
    margin: 0px;
    text-align: center;
}

#message_text{
    padding: 15px 20px 5px 20px;
}

#message_text p:nth-child(2) {
    text-align: right;
    font-size: 14px;
}